#header {
  background: #333;
  height: 40px;
  padding: 3px 0;
}

#header-icon img {
  height: 38px;
  float: left;
}

#header-content {
  color: #fff;
  text-decoration: none;
  line-height: 40px;
  font-weight: bold;
  float: left;
  margin-left: 1%;
}
