#export-container {
  width: 80%;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}
#export-button-export {
  margin: 20px 0 0 5%;
}

#export-container p {
  font-weight: bold;
  color: #000;
  font-size: 18px;
}
#export-list {
  width: 500px;
  padding: 3%;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  margin-top: 0px;
}
#export-list-header {
  color: #727272;
  overflow: auto;
  /* padding-bottom: 5px; */
  padding-top: 10px;
  font-weight: bold;
}
#export-list-id {
  padding-left: 20px;
  float: left;
  width: 50px;
}
#export-list-name {
  float: left;
  width: 300px;
}
#export-list-quantity {
  padding-right: 20px;
  float: right;
  width: 110px;
}
#export-success {
  color: #3b414b;
  font-size: 20px;
  /* text-align: center; */
  padding: 5px 0 0 20px;
  font-weight: bold;
  line-height: 40px;
  display: inline;
}
